body{
    background-color: black;
}

header{
    background-color: #333;
    text-align: center;
    padding: 20px;
    color: #fff;
    font-family: mineplayer;
    font-size: 16px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    border-bottom: 1px solid #282828;
    
}

body .rockstar{
    padding: 10px;
    flex-direction: column;
    background-color: #333;
}
body .mineserver{
    padding: 10px;
    flex-direction: column;
    background-color: #333;
}
body .Portfolio{
    padding: 10px;
    flex-direction: column;
    background-color: #333;
}

body .login{
    padding: 10px;
    flex-direction: column;
    background-color: #333;
}

body .github{
    padding: 10px;
    flex-direction: column;
    background-color: #333;
}
